<h3>About us...</h3>
<h3 class="outer-heading">
We Empower People and Create Economic Opportunity
</h3>
<p>Jungle Inc. is a global commerce leader that connects millions of buyers and sellers around the world. We exist to enable economic opportunity for individuals, entrepreneurs, businesses and organizations of all sizes. Our portfolio of brands includes Wanderwall and Jungle-Jungle, operating in 190 markets around the world.</p>